<main>
  <section>
    <aside>
      <h2 class="mat-headline">
        {{ name | async }} &mdash;<br>
        <i18n i18n="@@newActivities">newActivities</i18n>
      </h2>
      <strong class="mat-title">
        {{ tagline }}
      </strong>
      <nav>
        <ng-container *ngFor="let item of activities">
          <activity-card [item]="item"></activity-card>
        </ng-container>
      </nav>
    </aside>
  </section>
  <section>
    <article>
      <img
        alt="Wuppertal"
        src="/images/lead.png"
        title="Wuppertal">
    </article>
    <article>
      <marked-component class="mat-title" [data]="'

<h2>Y♀ur Way! - Neue Wege für zugewanderte Frauen</h2>

<p>Herzlich willkommen in der App des Projektes Y♀ur Way! - Neue Wege für
zugewanderte Frauen in Wuppertal!</p>

<p>Sie sind eine junge Frau zwischen 18 - 27 Jahren, die in Wuppertal lebt? Sie
sind aus einem anderen Land nach Deutschland gekommen? Sie haben Interesse an
den Themen Ausbildung, Arbeit, Freizeit und Kultur in Deutschland? Dann sind Sie
hier bei Y♀ur Way! genau richtig!</p>

<p>Y♀ur Way! auf einen Blick:<ul>
  <li>Die Y♀ur Way!-App gehört zum Projekt Y♀ur Way!, dass sich speziell an
  junge, zugewanderte Frauen in Wuppertal wendet</li>
  <li>Die Y♀ur Way!-App informiert Sie über Veranstaltungen zum Projekt und zu
  den Themen Beruf, Familie, Freizeit, Kultur und Soziales in Wuppertal</li>
  <li>Alle Angebote und Veranstaltungen sind kostenlos</li>
  <li>Über die Y♀ur Way!-App finden Sie Ärzte und Arztinnen in Ihrer
  Muttersprache</li>
  <li>Ebenso Adressen und Telefonnummern zu Behörden</li>
  <li>Wir informieren Sie und wenn Sie möchten auch Ihre Familie zu
  verschiedenen Themen und bieten unsere Hilfe an (Beratung, Unterstützung bei
  Behörden etc.)</li>
  <li>Gemeinsam finden wir in Wuppertal ein Angebot, dass zu Ihnen passt</li>
  <li>Während den von uns angebotenen AKtivitäten können Sie andere Frauen
  kennenlernen</li>
  <li>Wir freuen uns darauf, Sie kennenzulernen und mit Ihnen gemeinsam neue
  Ideen umzusetzen</li>
</ul></p>

<p>Kommen Sie zu uns! Vielleicht sehen Sie uns auch mal in unserem Ape-Mobil.
Weitere Informationen und Ansprechpartner finden Sie in der App.</p>

<p>Kurzum: Gemeinsam gehen wir einen vollkommen neuen Weg.<br>Den Weg der
Frauen.<br>IHREN Weg.</p>

      '"></marked-component>
    </article>
  </section>
  <section>
    <figure>
      <img
        alt="Ministerium für Arbeit, Gesundheit und Soziales"
        src="/images/ministry-ags.png"
        title="Ministerium für Arbeit, Gesundheit und Soziales">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.mags.nrw"
          target="_blank"
          title="Ministerium für Arbeit, Gesundheit und Soziales">
          MAGS NRW
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Ministerium für Kinder, Familie, Flüchtlinge und Integration"
        src="/images/ministry-kffi.png"
        title="Ministerium für Kinder, Familie, Flüchtlinge und Integration">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.mkffi.nrw"
          target="_blank"
          title="Ministerium für Kinder, Familie, Flüchtlinge und Integration">
          MKFFI NRW
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Bezirksregierung Arnsberg"
        src="/images/municipality-arnsberg.png"
        title="Bezirksregierung Arnsberg">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.bezreg-arnsberg.nrw.de"
          target="_blank"
          title="Bezirksregierung Arnsberg">
          Bezirksregierung Arnsberg
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Stadt Wuppertal Ressort Zuwanderung und Integration"
        src="/images/municipality-wuppertal.png"
        title="Stadt Wuppertal Ressort Zuwanderung und Integration">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/integration"
          target="_blank"
          title="Stadt Wuppertal Ressort Zuwanderung und Integration">
          Ressort Zuwanderung und Integration
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Kommunales Integrationszentrum Wuppertal"
        src="/images/office.png"
        title="Kommunales Integrationszentrum Wuppertal">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/integration"
          target="_blank"
          title="Kommunales Integrationszentrum Wuppertal">
          Kommunales Integrationszentrum Wuppertal
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Jobcenter Wuppertal"
        src="/images/jobcenter.png"
        title="Jobcenter Wuppertal">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.jobcenter.wuppertal.de"
          target="_blank"
          title="Jobcenter Wuppertal">
          Jobcenter Wuppertal
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="alpha e.V."
        src="/images/alpha-ev.png"
        title="alpha e.V.">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.alphaev.de"
          target="_blank"
          title="alpha e.V.">
          alpha e.V.
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Diakonie Wuppertal - Soziale Teilhabe gGmbH"
        src="/images/diakonie.png"
        title="Diakonie Wuppertal - Soziale Teilhabe gGmbH">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.sozialeteilhabe.de"
          target="_blank"
          title="Diakonie Wuppertal - Soziale Teilhabe gGmbH">
          Diakonie Wuppertal
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Durchstarten in Ausbildung und Arbeit"
        src="/images/durchstarten.png"
        title="Durchstarten in Ausbildung und Arbeit">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.durchstarten.nrw"
          target="_blank"
          title="Durchstarten in Ausbildung und Arbeit">
          Durchstarten
        </a>
      </figcaption>
    </figure>
  </section>
</main>
