<main>
  <section>
    <aside>
      <h2 class="mat-headline">
        {{ name | async }} &mdash;<br>
        <i18n>newActivities</i18n>
      </h2>
      <strong class="mat-title">
        {{ tagline }}
      </strong>
      <nav>
        <ng-container *ngFor="let item of activities">
          <activity-card [item]="item"></activity-card>
        </ng-container>
      </nav>
    </aside>
  </section>
  <section>
    <article>
      <img
        alt="YourWay!"
        src="images/lead.png"
        title="YourWay!">
    </article>
    <article class="mat-title" [innerHTML]="content"></article>
  </section>
  <section>
    <figure>
      <img
        alt="alpha e.V."
        src="images/alpha-ev.png"
        title="alpha e.V.">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.alphaev.de"
          target="_blank"
          title="alpha e.V.">
          alpha e.V.
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Diakonie Wuppertal - Soziale Teilhabe gGmbH"
        src="images/diakonie.png"
        title="Diakonie Wuppertal - Soziale Teilhabe gGmbH">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.sozialeteilhabe.de"
          target="_blank"
          title="Diakonie Wuppertal - Soziale Teilhabe gGmbH">
          Diakonie Wuppertal
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Durchstarten in Ausbildung und Arbeit"
        src="images/durchstarten.png"
        title="Durchstarten in Ausbildung und Arbeit">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.durchstarten.nrw"
          target="_blank"
          title="Durchstarten in Ausbildung und Arbeit">
          Durchstarten
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Jobcenter Wuppertal"
        src="images/jobcenter.png"
        title="Jobcenter Wuppertal">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.jobcenter.wuppertal.de"
          target="_blank"
          title="Jobcenter Wuppertal">
          Jobcenter Wuppertal
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Kommunales Integrationszentrum Wuppertal"
        src="images/office.png"
        title="Kommunales Integrationszentrum Wuppertal">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/integration"
          target="_blank"
          title="Kommunales Integrationszentrum Wuppertal">
          Kommunales Integrationszentrum Wuppertal
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Stadt Wuppertal Ressort Zuwanderung und Integration"
        src="images/municipality-wuppertal.png"
        title="Stadt Wuppertal Ressort Zuwanderung und Integration">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.wuppertal.de/integration"
          target="_blank"
          title="Stadt Wuppertal Ressort Zuwanderung und Integration">
          Ressort Zuwanderung und Integration
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Bezirksregierung Arnsberg"
        src="images/municipality-arnsberg.png"
        title="Bezirksregierung Arnsberg">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.bezreg-arnsberg.nrw.de"
          target="_blank"
          title="Bezirksregierung Arnsberg">
          Bezirksregierung Arnsberg
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Ministerium für Arbeit, Gesundheit und Soziales"
        src="images/ministry-ags.png"
        title="Ministerium für Arbeit, Gesundheit und Soziales">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.mags.nrw"
          target="_blank"
          title="Ministerium für Arbeit, Gesundheit und Soziales">
          MAGS NRW
        </a>
      </figcaption>
    </figure>
    <figure>
      <img
        alt="Ministerium für Kinder, Familie, Flüchtlinge und Integration"
        src="images/ministry-kffi.png"
        title="Ministerium für Kinder, Familie, Flüchtlinge und Integration">
      <figcaption class="mat-body-strong">
        <a
          href="https://www.mkffi.nrw"
          target="_blank"
          title="Ministerium für Kinder, Familie, Flüchtlinge und Integration">
          MKFFI NRW
        </a>
      </figcaption>
    </figure>
  </section>
</main>
